*.o
*.lo
*.la
*.pyc
.*.swp
.libs/
.deps/
.dirstamp
.ignore
Makefile.in
Makefile
aclocal.m4
autom4te.cache
config.log
config.status
configure
libltdl
libtool
tags
.DS_Store
*.pdf
*.dot
*~
sst_test_outputs/
stats.out
